<?xml version="1.0" encoding="UTF-8"?>
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	
    <appender name="PROJECT" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${user.home}/meetup-server/meetup-server.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p [%c{10}] - %m%n" />
		</layout>
	</appender>
	
	<!-- 控制台输出 -->  
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r [%t] %-5p %c %x - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG" />
			<param name="LevelMax" value="DEBUG" />
		</filter>
	</appender>
	
	<root>
		<level value="info" />
		<appender-ref ref="PROJECT" />
		<appender-ref ref="CONSOLE" />
		<!-- <appender-ref ref="IBatis" />   -->
	</root>
</log4j:configuration>
